/**/
.ios .page{
    background: #fff;
}
.ios .navbar:after,.md .navbar:after{
    display: none;
}
.navbar .center{
	margin:0 auto;
}
.navbar{
	height: 44px;
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    position: relative;
    margin: 0;
    z-index: 500;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.navbar .center{
	font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.navbar a.icon-only, .subnavbar a.icon-only, .toolbar a.icon-only {
    min-width: 44px;
    display: flex;
    -webkit-box-pack: center;
}

.navbar i.icon, .subnavbar i.icon, .toolbar i.icon {
    display: block;
}
.f7-icons{
    font-size: 30px!important;
}
/*公共样式结束*/
/*首页样式*/
.showy .more{
    line-height:30px;
}
.showy ul li{
    list-style: none;
}
.showy ul.lists{
    max-width: 85%;
    margin:0 auto;
}
.showy ul.lists li{
    width: 100%;
    max-height:150px;
    margin-top: 5%;
    border-radius: 15px;
    overflow: hidden;
}
.showy ul.lists li a{
    position: relative;
    display: block;
}
.showy ul.lists li a img{
    width: 100%;
}
.showy ul.lists li a span{
    position: absolute;
    color:#fff;
    top: 10%;
    left: 10%;
    font-size: 16pt;
}
/*lists1部分开始*/
.ls1 .views .navbar{
    background: transparent;
    position: absolute;
}
.ls1 .page .page-content{
    padding-top:0!important;
}
.ls1 .page .page-content div.pic{
    position: relative;
    max-height: 220px;
    overflow: hidden;
}
.ls1 .page .page-content .sec{
    max-width: 85%;
    margin: 0 auto;
    padding-top: 15px;
}
.ls1 .page .page-content .sec .wz{
    color:#555;
}
.ls1 .page .page-content .sec .wz h2{
    padding-bottom: 10px;
}
.ls1 .page .page-content .sec .wz p.color{
    color:orange;
}
.ls1 .navbar .icon{
    margin-left:0;
    color:orange;
}
/*ls4样式*/
.ls4 section .wz ol li{
    color:#555;
}